.bio {
    display: flex;
    align-items: center;
    width: 430px;
    border-radius: 2%;
    box-shadow: 5px 5px 15px -4px #D3CBCF;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 15px;
}
.bio:hover{
    background-color: rgb(235, 235, 235);
    opacity: 80%;
}
.bio-text {
    width: 90%;
    font-size: 12px;
    margin-top: -5px;
    line-height: 1.2;
}
.profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 10px;
    border-style: solid;
    border-color: #42d7e6;
    border-width: 1px;
}
p {
    text-align: left;
    font-family: sans-serif;
}
.profile-text{
    margin-left: 20px;
}
.country-container {
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: -25px;
}
.country-icon {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
.full-name {
    font-size: 25px;
    margin-top: -10px;
}